In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pdblp
from datetime import timedelta, date, datetime
import calendar

### Establish connection to Bloomberg:

con = pdblp.BCon( debug = False , port = 8194 , timeout = 35000 )
con.start()
con.debug = False

In [38]:
#edit data points
start_dt = '20080601'
end_dt = date.today().strftime("%Y%m") + str(calendar.monthrange(date.today().year, date.today().month)[1])

def my_df_format(df):
    """
    Function to restructure Bloomberg dataframe
    
    """
    df.columns = df.columns.get_level_values(0)
    df.reset_index(drop = True)
    df.index.name = None
    df.reset_index(level = 0, inplace = True)
    df.rename(columns = {'index': 'Date'}, inplace=True)
    df.rename_axis(None, axis = 1 , inplace = True)  
    # df['MM_YYYY'] = df['Date'].apply(lambda x: datetime.strptime(str(x), "%Y-%m-%d").strftime("%b-%Y"))

In [41]:
asset_list = ["SPX Index", "KOSPI2 Index", "TWSE Index", "USDTWD Curncy", "USDKRW Curncy", "USDCNH Curncy", 
              "USDCNY Curncy", "DXY Curncy", "USYC2Y10 Index", "USYC5Y30 Index", "USGG2YR Index", "BBDXY Curncy",
              "USGG5YR Index", "USGG10YR Index", "USGGT10Y Index", "KWSWNI1 BGN Curncy", "KWSWNI5 BGN Curncy", 
              "KWSWNI10 BGN Curncy", "KWSWNI15 BGN Curncy", "TDSWNI2 BGN Curncy", "TDSWNI5 BGN Curncy", 
              "TDSWNI10 BGN Curncy", "TDSWNI15 BGN Curncy"]

fwd_pt = ["JPY3M Curncy", "KWN3M Curncy", "EUR3M Curncy"]

df = con.bdh(asset_list, "PX_LAST", start_dt, end_dt)
my_df_format(df)

df_2 = con.bdh(fwd_pt, "PX_MID", start_dt, end_dt)
my_df_format(df_2)

In [47]:
df

,Date,SPX Index,USYC2Y10 Index,KOSPI2 Index,TWSE Index,USYC5Y30 Index,USGG2YR Index,USDTWD Curncy,USDKRW Curncy,USDCNH Curncy,...,KWSWNI5 BGN Curncy,USGG10YR Index,USGGT10Y Index,KWSWNI10 BGN Curncy,KWSWNI15 BGN Curncy,TDSWNI2 BGN Curncy,TDSWNI5 BGN Curncy,KWSWNI1 BGN Curncy,TDSWNI10 BGN Curncy,TDSWNI15 BGN Curncy
0,2008-06-02,1385.67,145.449,236.78,8724.47,139.773,2.5036,30.210,1022.55,NaN,...,5.3150,3.9571,1.4624,5.4000,5.4650,NaN,NaN,5.4600,NaN,NaN
1,2008-06-03,1377.65,149.186,233.14,8579.43,143.521,2.3984,30.281,1016.75,NaN,...,5.3450,3.8939,1.4468,5.4300,5.4950,NaN,NaN,5.4500,NaN,NaN
2,2008-06-04,1377.20,152.371,235.09,8627.80,143.607,2.4465,30.344,1017.25,NaN,...,5.4050,3.9764,1.5284,5.5100,5.5850,NaN,NaN,5.4450,NaN,NaN
3,2008-06-05,1404.05,154.282,234.76,8738.46,141.339,2.4949,30.384,1023.57,NaN,...,5.4350,4.0383,1.5739,5.5400,5.6150,NaN,NaN,5.4150,NaN,NaN
4,2008-06-06,1360.68,153.455,NaN,8745.35,144.525,2.3724,30.323,1023.55,NaN,...,5.4350,3.9092,1.4171,5.5400,5.6150,NaN,NaN,5.4150,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4028,2023-10-16,4373.63,-39.464,323.29,16652.24,13.370,5.0985,32.285,1353.74,7.3085,...,3.9450,4.7060,2.3165,3.9800,3.9900,1.555,1.6300,3.9650,1.6825,1.710
4029,2023-10-17,4373.20,-37.750,327.35,16642.55,5.424,5.2095,32.316,1353.51,7.3256,...,3.9700,4.8341,2.4173,4.0150,4.0300,1.570,1.6650,3.9775,1.7175,1.710
4030,2023-10-18,4314.60,-30.981,328.82,16440.91,5.925,5.2225,32.306,1349.57,7.3277,...,4.0225,4.9149,2.4769,4.0650,4.0825,1.585,1.6900,4.0025,1.7400,1.710
4031,2023-10-19,4278.00,-17.297,322.76,16452.73,15.242,5.1585,32.393,1357.51,7.3365,...,4.0750,4.9898,2.4993,4.1299,4.1500,1.605,1.7030,4.0250,1.7850,1.710
4032,2023-10-20,NaN,-21.966,317.96,16440.72,13.907,5.1482,32.366,1352.79,7.3370,...,4.0325,4.9350,NaN,4.0800,4.0975,1.575,1.6875,4.0000,1.7600,1.805